body {
  font-family:Arial;
  background:#f4f4f4;
  display:flex;
  justify-content:center;
  padding-top:50px;
}
.container {
  background:white;
  padding:30px;
  width:350px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
h1 {
  text-align:center;
}
label {
  display:block;
  margin-top:15px;
}
input, select {
  width:100%;
  padding:8px;
  margin-top:5px;
}
button {
  width:100%;
  padding:10px;
  margin-top:20px;
  background:#007bff;
  color:white;
  boder:none;
  cusor:pointer;
}
button:hover {
  background:#0056b3;
}
#result {
  text-algin:center;
  margin-top:20px;
}
